<div class="container-fluid">
    <form (ngSubmit)="edit(eventedit)" #eventedit="ngForm">
        <div class="row" style="height:80px;">
            <div class="col-3 arrow">
                <a routerLink="/event-list" class="fa fa-arrow-left"></a>
            </div>
            <div class="col-6"></div>
            <div class="col-3">
                <button type="submit"  class="button">Done</button>
            </div>
        </div>
        <div class="row" style="height:auto;">
            <div class="jumbotron ml-auto mr-auto">
                <div>
                    <div class="form-group">
                        <input type="hidden" class="form-control"  name = "event_id" id="event_id" [(ngModel)]="eventdata.event_id"  >
                          
                        <input type="text" class="form-control"  name = "event_name" id="Inputname" [(ngModel)]="eventdata.name" placeholder="Enter event name" >
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name = "event_date" id="InputLink" [(ngModel)]="eventdata.date" >
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name = "event_venue" id="InputAddress" [(ngModel)]="eventdata.location" >
                    </div>
                    
                    <div class="form-group col-12 row" *ngFor="let data of eventdata.programe; let i =index">

                        <div class=" col-4">
                            <input type="text" 
                                   class="form-control" 
                                   name = "{{data.name}}" 
                                   id="{{i}}" 
                                   [(ngModel)]="data.name" >
                        </div>
                        <div class=" col-4">  
                            <input type="time" 
                                   class="form-control" 
                                   name = "{{i}}" 
                                   id="{{i}}" 
                                   [(ngModel)]="data.time">
                        </div>
                        <div class=" col-4">  
                            <a  class="gray5 fa fa-times-circle"></a>
                        </div>
                    
                    </div>     
                </div>
            </div>
        </div>
    </form>   
    <a (click)=delete(eventdata.event_id) style="color:red">DELETE EVENT</a>      
</div>