
.jumbotron{
    background-color: transparent;
    padding-bottom: 0%;
}
hr{
    width:10%;
    background-color: brown;
}

.fa-plus-circle{
    color: orange;
    font-size: 20px;
}
.topnav {
overflow: hidden;
margin-left: 5%;
text-align: center;
}

.topnav a {
float: left;
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
border-bottom: 3px solid transparent;
}

.topnav a:hover {
border-bottom: 3px solid red;
}

.topnav a.active {
border-bottom: 3px solid red;
}
.card_box{
    margin-top: 50px;
    padding: 0px;
}
.card_box .col-4{
    float: left
}
.card_box .col-4 img{
    width: 100% !important;
    border-radius: 5px;
}