<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-navbar></app-navbar>
    </div>
  </div>
  <div class="row">
    <div class="topnav">
      <a routerLink="/invitation" class="active">Invitation</a>
      <a routerLink="/guest-list">Guest list</a>
      <a routerLink="/account">Account</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12 card_box">
          <div class="col-4">
            <img class="img-responsive" src = "../../assets/invite_card.jpg">
          </div>
          <div  class="col-4">
            <img class="img-responsive" src = "../../assets/invite_card.jpg">
          </div>
          <div  class="col-4">
            <img class="img-responsive" src = "../../assets/invite_card.jpg">
          </div>
      
      
    </div>
    <div class="jumbotron text-center">
        <p>Add pictures of your invitation card to send to your guests</p>
        <i class="fas fa-plus-circle" type="button" (click)= "addpic()" >ADD A PHOTO</i>
    </div>
  </div>
</div>
