<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <app-navbar></app-navbar>
        </div>
        <h1 class="album_heading">Albums</h1>
        <p *ngIf = "validate">Your Host Album </p>
        <!-- <div class="jumbotron col-6">
         
            <div class="row">
                <div class="col-12 border ">
                    <button onclick="document.getElementById('id01').style.display='block'" style="padding:1%;" class="fas fa-plus-circle">Add Album</button>
                </div>
               
            </div>
           
        </div>
        <div class="row col-6">
            <div class=" " *ngFor="let item of album">
                <div (click)="rendertoImages(item)">
                  <a id="image"><img src="{{item.cover_photo}}" class="curved"  height="140px" width="100%"></a> <br>
                  <p style="color:deeppink;margin-top: 1%;">{{item.album_name}}</p>
                </div>
              </div>
        </div> -->

        <div class=" row">
            <div class="col-6 " *ngIf = "!validate">
                <div class="border " >
                    <button onclick="document.getElementById('id01').style.display='block'" style="padding:1%;" class="fas fa-plus-circle"></button>
                </div>
                <p style="color:deeppink;margin-top: 1%;">New Album</p>
            </div>
            <div class="col-6" *ngFor="let item of album">
                <div (click)="rendertoImages(item)">
                    <a id="image">
                        <img src="{{item.cover_photo}}" class="curved" height="140px" width="100%">
                    </a>
                    <br>
                    <p class="album_name">{{item.album_name}}</p>
                    <p class="small">{{item.image_count || 0}} photos</p>
                </div>
            </div>
        </div>

    </div>

    <div id="id01" class="modal">

        <form class="modal-content animate" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>

            <div class="container">
                <label for="name">
                    <b>Album</b>
                </label>
                <input type="text" placeholder="Name" name="album_name" [(ngModel)]="album_name" required>
                <input type="hidden" name="album_id">

                <label for="photo">
                    <b>Cover photo</b>
                </label>
                <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)">

                <button type="submit" onclick="document.getElementById('id01').style.display='none'" id="add">Add Album</button>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            </div>
        </form>
    </div>

    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

</body>

</html>