body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: white;
  color: #ff1556;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f1f1f1;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
#add{
    position: absolute;
    right:  20px;
    width:150px;
    bottom: 10px;
    border: none;
    /* top: 0; */
    color: deeppink;
    background-color: transparent;
    /* font-size: 35px; */
    font-weight: bold;
}
#add:hover,
#add:focus{
  border: 0px none;
  outline: none;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
  border: none;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
.album_heading{
  width: 100%;
  text-align: center;
  margin: 40px 0;
  position: relative;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
     border:  1px solid blue;
     background-color: #fefefe;
  }
}

.jumbotron hr{
    width:20%;
    background-color: brown;
}
nav{
    background-color: lightpink;
}
.navbar a{
    font-size: 30px;
    color: deeppink;
    text-align: center;
}
.jumbotron{
    background-color: transparent;
}
hr{
    width:10%;
    background-color: #c20238;
    margin-top: 10px;
}
.jumbo{
    margin-top: 2%;
    height: 71px;
}

.border{
    border: 2px solid deeppink !important;
    border-radius: 10%;
    height: 140px;
    line-height: 140px;
    margin-top: 4px;
}
.fa-plus-circle{
    color: #ff1556;
    font-size: 20px;
    padding-top: 50%;
    z-index: 1;
}
.curved{
    border-radius: 10%;
    margin-top: 3%;
}
.small{
  color:#b6c3c9;
  font-size: 12px;
}
.album_name{
  color:deeppink;
  margin: 10px 0px 5px 0;
}
.album_heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  top: 50px;
  right: 0;
  height: 2px;
  width: 60px;
  background: #ff1556;
  margin: 0 auto;
}
