

h1{
    margin-top: 30px;
    text-align: center;
}

h6,form{
    margin-top: 30px;
    text-align: center;
}

form{
    height: 400px;
}

h5{
    font-size: 20px;
    letter-spacing: 2px;
}

textarea{
    width: 80%;
    border: none;
    overflow: auto;
    outline: none;
    border-color: transparent;
    background-color: transparent;
}
input:focus{
    outline: none;
    border-bottom: 1px solid #ff1556;
}

input[type=number]{
    width: 80%;
    border-bottom: 1px solid #ff1556;
    /* margin-left: 30px; */
    overflow: auto;
    outline: none;
    border-top:none;
    border-left:none;
    border-right:none;
}

button{
    width: 90%;
    margin-top: 60px;
    background-color: #ff1556;
    color: white;
}

textarea{
    border:solid 1px grey;
    position: relative;
}

.img{
    top: 10px;
    color: #ff1556;
    font-weight: bold;
}

.arrow{
float: left;
font-size: 30px;
line-height: 80px;
}
.fa-arrow-left,.fa-arrow-left:active{
color: orange;
text-decoration: none;
}

#done{
    background-color: #ff1556;
    color: white;
    border: #ff1556;
    width: 100%;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    position: fixed;
    bottom: 0%;
    vertical-align: middle;
    left: 0px;
    text-decoration: none;
}
/*spinner */


#spinner {
	-webkit-animation: frames 1s infinite linear;
	animation: frames 1s infinite linear;
	background: transparent;
	border: 1.75vw solid #FFF;
	border-radius: 100%;
	border-top-color: #DF691A;
	width: 20vw;
	height: 20vw;
	opacity: .6;
	padding: 0;
	position: absolute;
	z-index: 999;
}
@keyframes frames {
  0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(359deg);
	transform: rotate(359deg);
  }
}

#pause {
	display: block;
	background:
		rgba(0, 0, 0, 0.66)
		no-repeat
		0 0;
	width: 100%;
	height: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
}
