<div class="container-fluid">
  <div class="row">
      <div class="col-3 arrow">
          <a routerLink="/profile" class="fa fa-arrow-left"></a>
      </div>
  </div>
  <div class="row">
      <div class="col-12">
          <h1>Welcome {{value.name}} !</h1>
      </div>
  </div>
  <div class="row">
      <div class="col-12">
          <h6>You’re almost done
          </h6>
      </div>
  </div>
  <div class="row">
      <div class="col-12">
          <form action="page2.2.html">
              <input type="number" placeholder="Your Phone Number" [(ngModel)]="data.phone_num" [ngModelOptions]="{standalone: true}" required>
              <button id="done" (click)=sub() type="button" >Done</button>
          </form>   
      </div>
  </div>
</div>
<div id="pause" class="d-flex align-items-center justify-content-center" *ngIf = "spinner == true">
    <div id="spinner"></div>
</div>