<div class="container-fluid">
    <nav class="col-12 navbar fixed-bottom navbar-expand-md navbar-light">
        <div class="col-2">
          <a class="nav-item nav-link" (click)="rout()"><i class="fas fa-scroll"></i></a>
      
        </div>
        <div class="col-2">
            <a class="nav-item nav-link" routerLink="/photo"><i class="fas fa-grip-horizontal"></i></a>
        </div>
        <div class="col-2">
            <a class="nav-item nav-link" routerLink="/camera"><i class="fas fa-plus"></i></a>
        </div>
        <div class="col-2">
            <!-- routerLink="/calendar" -->
            <a class="nav-item nav-link" (click)= "calendar()" ><i class="fas fa-calendar-week"></i></a>
        </div>
        <div class="col-2">
            <a class="nav-item nav-link" routerLink="/gift"><i class="fas fa-gift"></i></a>
        </div>
      </nav>
</div>
