<div class="container-fluid">
  <div class="row">
      <div class="col-3 arrow">
          <a routerLink="/login" class="fa fa-arrow-left"></a>
      </div>
  </div>
  <div class="row">
      <div class="col-12">
          <h1>Welcome {{name}} !</h1>
      </div>
  </div>
  <div class="row">
      <div class="col-12">
          <h6>Let’s get you started!</h6>
      </div>
  </div>
  <div class="row">
      <div class="col-12">
          <form  #imageForm=ngForm (ngSubmit)="OnSubmit(imageForm)">
              <input type="text" name="phone_num"  [(ngModel)]="phone_num" placeholder="phone Number" >
              <h6></h6>
             
              <textarea cols="38" rows="4" placeholder="Relationship" [(ngModel)]="pro.relationship"  name="relationship"></textarea>
              
              <div class="img">
                  <span>ADD A PHOTO</span> 
                  <input type="file"  #Image accept="image/*" (change)="handleFileInput($event.target.files)">
              </div>
              <button id="done" type="submit">OK, PROCEED </button>
          </form>   
      </div>
  </div>
</div>