

h1{
    margin-top: 30px;
    text-align: center;
}

h6,form{
    margin-top: 30px;
    text-align: center;
}

form{
    height: 400px;
}

h5{
    font-size: 20px;
    letter-spacing: 2px;
}

textarea{
    width: 80%;
    border: none;
    overflow: auto;
    outline: none;
    border-color: transparent;
}
input:focus{
    outline: none;
    border-bottom: 1px solid #ff1556;
}
input[type=text]{
    width: 80%;
    border-bottom: 1px solid #ff1556;
    /* margin-left: 30px; */
    overflow: auto;
    outline: none;
    border-top:none;
    border-left:none;
    border-right:none;
}
.img span{
    float: left;
    margin-left: 30px;
    margin-bottom: 2%;
}
button{
    width: 90%;
    margin-top: 60px;
    background-color: #ff1556;
    color: white;
}

textarea{
    border:solid 1px grey;
    position: relative;
}

.img{
    margin-top: 20px;
    color: #ff1556;
    font-weight: bold;
}

.arrow{
float: left;
font-size: 30px;
line-height: 80px;
}
.fa-arrow-left,.fa-arrow-left:active{
color: orange;
text-decoration: none;
}

#done{
    background-color: #ff1556;
    color: white;
    border: #ff1556;
    width: 100%;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    vertical-align: middle;
    left: 0px;
    position: fixed;
    bottom: 0px;
    text-decoration: none;
}