<div class="row">
    <div class="col-3 arrow">
        <a routerLink="/stories" class="fa fa-arrow-left"> Back </a>
    </div>
</div>
    <!-- <div *ngIf = "image_data.status == 'true'"> -->
        <div  *ngFor="let i of image_data2 ;let i=index">
            <div class="row col-12 propic">
                    <div class="col-2">
                        <img src="{{i.userphoto}}" alt="" srcset="" id="pro">
                        
                    </div>
                    <div class="col-8 para">
                        <p> <b> {{i.username}}'s </b> added a story - "{{i.story}}"</p>
                    </div>
                    <div class="col-2 icon">
                        <div class="col-1 share">
                            <a class=""><img src="../../assets/share.png" alt=""></a>
                        </div>
                        <div class="col-1 w3-dropdown-hover select">
                            <!-- <button class="w3-button">&#8942;</button> -->
                            <a><img src="../../assets/select.png"></a>
                            <div class="w3-dropdown-content w3-bar-block w3-border w3-card-4">
                                <a class="w3-bar-item w3-button">Edit</a>
                                <a  class="w3-bar-item w3-button">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div  class=" col-12">
                    <img class="col-12" src="{{i.photo_data}}" style="max-width:100%;height:auto;"/>   
                </div>
                <div class="row col-12 displaycards">
                    <div class="row col-12 ">
                        <div class="col-8">
                            <p  class="comment_P"> {{i.story}}</p>
                        </div>     
                        <div class="col-4 text-right">
                            <i class="far fa-heart " style="color:deeppink;" (click)="setlike(i.photo_id)"> <span>  {{i.num_likes}}</span></i>
                            <i class="far fa-comment msgicon_top_story" style="color:orange;"  (click) = "viewcomment(i.photo_id)"  > <span> {{i.num_comments}}</span></i>                               
                                
                        </div>     
                    
                    </div>
                    <div class="row col-12 ">
                        <br>
                        <p class="small comment_P"> {{i.time | date: 'medium'}} </p>
                    </div>
                    <div class="col-12 comment_div" *ngIf="comment_div == true && divid == i.photo_id">
                            <ul *ngFor="let comment of i.comments " class="col-12">
                                <li class="col-12">  <strong> {{comment.username}}</strong> just commented  </li>
                                <li class="col-12">  <p class="small" style="margin-left:0%">  {{comment.time | date}}</p>  </li>
                                <li class="col-12">  <p style="padding-bottom: 1%;"> {{comment.body}}</p></li>
                                <i class="fa fa-thumbs-up" aria-hidden="true" (click) = " add_counts_of_like(comment.comment_id)"></i>
                                {{comment.num_likes}}

                                <li class="col-12">  <hr> </li> 
                            </ul>
                            <br>
                            <form class="row col-12" (ngSubmit)="add_comment(com)" #com="ngForm">                        
                                <div class="col-8 form-group">
                                    <input type="hidden"  name = "photo_id" id="photo_id" [(ngModel)]="i.photo_id" />
                                    <input type="text" class="form-control comment_input" name = "body" id="Inputname" [(ngModel)]="body" />
                                </div>
                                <div class="col-4 form-group comment_button">
                                    
                                    <button type="submit" class="btn btn-primary small">comment</button>
                                </div>    
                            </form> 
                        </div>                     
                </div>
                    
        </div>
    <!-- </div>     -->
    <div class="clearfix"></div>