<div class="container-fluid">
    <div class="row">
      <app-navbar></app-navbar>
    </div>
    <div class="row">
      <div class="col-12 jumbotron">
        <h1 class="display-6 text-center">Calendar</h1>
        <hr class="mx-auto">
        <div class="row tablespace" *ngFor="let i of eventdata?.event_list ">
          <div class="col-6" (click) = "show_progress_bar() ">
            <span id="date">
              <strong> {{ i?.date | date }}</strong> 
            </span>
          </div>
          <div class="col-2 text-center" (click) = "show_progress_bar() ">  
            <span id="name">
              <strong>{{ i?.name }}</strong>
            </span>
          </div>
          <div class="col-4 " *ngIf = "!validate"><button (click)=editevent(i) class="fas fa-pen"></button></div>
          <div class="container" *ngIf = "progress_bar_div">
            <ul class="progressbar"  (click) = "progress_bar_div = false" >
                <li class="active">Start </li>
                <li  *ngFor="let j of i.programe">{{j.name}} <br>{{j.time}}</li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
      <div class="col-12" style="width:100%">
          <a *ngIf = "!validate" routerLink="/add-event"><i class="fas fa-plus-circle">ADD EVENT</i></a>
      </div>
  </div>