.start{
    height: 300px;
    margin-top:-5%;
    background-image: url(../../assets/logoi.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}
.logo{
   text-align: center;
   padding-top: 140px;
   font-size: 22px;
   color: #635e5e;
   font-family: "Avenir";
   letter-spacing: .1rem,
}
.image{
    opacity: 0.5;
    margin-top: 15%;
}
.btn-google {
color:rgba(0, 0, 0, 0.54);
background-color: white;
margin-top: 40px;
border: solid;
font-Family: "Roboto",
}
.submit{
    text-align: center;
}
.btn {
font-size: 80%;
letter-spacing: .1rem;
font-weight: bold;
padding: 1rem;
transition: all 0.2s;
}
.email{
letter-spacing: .1rem;
font-weight: bold;
padding: 1rem;
margin-top: 10%;
/* width: 70%; */
text-align: center;

}
.signup{
text-align: center;
/* margin-top: ; */
letter-spacing: .1rem;
font-weight: bold;
/* width: 70%; */
padding: 1rem;
color: #263238;
font-family: "Avenir"
}
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.btn-info,.btn-danger{
color: white !important;

}

/* Set a style for all buttons */
button {
  background-color: transparent;
  color: #ff1556;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f1f1f1;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
/* @media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
     background-color: #fefefe;
  }
} */