<div class="container" *ngIf="!msg; else error">
  <div class="row">
      <div class="col-12 start logo">
          <img src="../../assets/artboard_7.png" alt="" srcset="" height="90" width="60%">
          <p>For your best day</p>
      </div>
  </div>
  <div class="row">
      <div class="col-offset-3 col-12 submit">
          <button (click)="socialSignIn('google')" class="btn btn-lg btn-google btn-block" type="submit">
            <i class="fab fa-google mr-2"></i> 
              Sign up with Google
          </button>
          <!-- <fa name="cog" animation="spin"></fa> -->
      </div>
  </div>
  <div class="row email">
      <div class="col-12">
          <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Use email id to login</button>
      </div>
  </div>

  <div class="row image">
    <div class="col-12">
        <img src="../../assets/line.jpeg" alt="" srcset="" height="10px" width="100%">
    </div>
  </div>
  <div class="row signup text-center">
      <div class="col-12">
          <span>Don't have an account? <a routerLink="/register" style="color: #ff1556; font-family:Avenir;">Sign up</a></span> 
      </div>
  </div>
</div>
<ng-template #error>
    {{msg}}
  </ng-template>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>



<div id="id01" class="modal">
     <form class="modal-content animate" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>

    <div class="container">

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email"[(ngModel)]= "email" required>
      <font color="red">{{password_error}}</font>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password"[(ngModel)]= "password"  required>
      <font color="red">{{non_field_errors}}</font>   
      <button type="submit">Login</button>
    </div>
    <!-- <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label> -->
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>
 

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>
