

<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <app-navbar></app-navbar>
      </div>
    </div>
    <div class="row">
      <div class="topnav">
        <a routerLink="/invitation"  [ngClass]="{  'inactive': !shouldShow  }">Invitation</a>
        <a routerLink="/guest-list"  [ngClass]="{ 'active': shouldShow, 'inactive': !shouldShow  }">Guest list</a>
        <a routerLink="/account"  [ngClass]="{  'inactive': !shouldShow  }">Account</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 send_in">
        <div class="col-8">
          <a href="#" class="send_text"> <i class="fa fa-paper-plane" aria-hidden="true"></i>  Send invitation </a>
        </div>
        <div class="col-4">
          <button  (click) = "send_tocreate_guest()">
            <i class="fa fa-cog" aria-hidden="true" ></i>
          </button>
        </div>
      </div>
      <div class="col-12 share_icon">
          <share-button  [title]="'We are exited to invite you for our wedding .'"
          button="facebook" url="https://www.vowfest.com/invite/{{wid}}" [showText]="false"></share-button>

          <a href="{{msg}}"> 
            <i class="fa fa-whatsapp whatsapp_share" aria-hidden="true"></i>
          </a>
          <a target="_blank" href="{{emailmsg}}">                
            <img style="height: 37px;padding-left: 16px" src = "https://cloud.githubusercontent.com/assets/7534680/4515518/6739a508-4bc1-11e4-80bc-670bcc216762.png">
          </a>
        </div>


       <div class="col-12 send_list">
          <ul>
              <li (click) = "send_tocreate_guest()">aditi <span > <i class="fa fa-window-close" aria-hidden="true" style="color:orange;"></i></span> </li>
              <li (click) = "add()">mahi <span > <i class="fa fa-window-close" aria-hidden="true" style="color:orange;"></i></span> </li>
          </ul>
       </div>
    </div>
</div>