
.topnav {
overflow: hidden;
margin-left: 5%;
text-align: center;
}

.topnav a {
float: left;
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
border-bottom: 3px solid transparent;
}

.topnav a:hover {
border-bottom: 3px solid red;
}

.topnav a.active {
border-bottom: 3px solid red;
}
ul{
    list-style-type: none;
}
.send_in .col-8,.send_in .col-4{
    float: left;
}
.col-12.send_in {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 0;
    margin-top: 30px;
}
.send_text{
    color: orange;
}
.send_list{
    margin-top: 30px;
}
.send_list ul{
    padding: 0 !important;
}
.send_list ul li span{
    float: right !important;
}
share-buttons button{
    margin: 0 5px !important;
    margin-top: 10px !important;
}
.sb-facebook{
    background: red !important;
}
button, select {
    text-transform: none;
    margin: 0 6px;
    margin-top: 10px;
}
