.arrow{
    float: left;
    font-size: 30px;
    line-height: 80px;
}
.button{
    float: right;
    height: 40px;
    margin-top: 2vh;
    width: 100px;
    background-color: orange;
    text-align: center;
    color: white;
    line-height: 40px;
}
.button:active,.fa-arrow-left:active,.fa-plus-circle:active{
    text-decoration: none;
    color: orange;
}
.jumbotron{
    background-color: transparent;
}

.fa-arrow-left{
    color: orange;
}
.fa-plus-circle{
    color: orange;
    font-size: 30px;
    margin-left: 3%;
}

#program,#time{
    width: 100%;
}
button{
    background-color: transparent;
    outline: none;
    border: none;
}
