<div class="container-fluid">
  <div class="row" style="height:80px;">
    <div class="col-3 arrow">

        <a routerLink = "/event-list">
          <i class="fa fa-arrow-left"></i>
        </a>
    </div>
    <div class="col-6"></div>
    <div class="col-3">
      <button (click)=addevent() class="button" type="submit">Done</button> &nbsp;&nbsp;  
    </div>
  </div>
  <div class="row" style="height:auto;">
    <div class="jumbotron ml-auto mr-auto col-12">
      <form >
        <div class="form-group row">
          <div class="col-12">
            <input type="text" class="form-control" id="Inputname" aria-describedby="emailHelp" [ngModelOptions]="{standalone: true}" placeholder="Event name" [(ngModel)]="eve['name']">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <input type="date" class="form-control" placeholder="Event date" [(ngModel)]="eve['date']" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <input type="text" class="form-control" placeholder="Venue" [(ngModel)]="eve['location']" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4">
            <input type="text" class="form-control" id="program" placeholder="Programme" [(ngModel)]="eve.programe[0].name" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col-4">
            <input type="time" class="form-control" id="time" placeholder="Time" [(ngModel)]="eve.programe[0].time" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col-4 ">
            <button (click)=addprogram() data-toggle="collapse" data-target="#program" class="fas fa-plus-circle"></button>
          </div>
        </div>
        <div class="form-group row" *ngFor="let item of programe_array; let i = index ">
          <div class="col-5">
            <input type="text" class="form-control" id="program+{{i}}" placeholder="Programme" [(ngModel)]="item.name" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col-5">
            <input type="time" class="form-control" id="time+{{i}}" placeholder="Time" [(ngModel)]="item.time" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>