<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <a routerLink="/stories" class="fas fa-arrow-left"></a>
        </div>
    </div>
           
    <div class="row">
        <div class="col-12">
            <img src="{{about_us_data.profile_photo}}"  alt="" srcset="" id="pro" class="round_image">
        </div>
        <div class="col-12 paragraph text-center">
            <button class="fas fa-pen" data-target="#Vediogallarypopup" data-toggle="modal"></button>
            <p>
              {{about_us_data.about}}
            </p>
        </div>
    </div>
</div>





 <div class="modal fade" id="Vediogallarypopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="col-sm-12 modal_content">
                    <form (ngSubmit)="update_aboutus(f)" #f="ngForm" style="border:1px solid #ccc;padding: 15px">
                        <div class="container">
                          <h2 class="text-center">Edit About us</h2>
                          <hr>
                          <label for="name"><b>About Us</b></label>
                          <input type="text" placeholder="About Us" name="about" [(ngModel)]= "about" required>   
                          <input type="hidden"  name="phone_num" [(ngModel)]= "about_us_data.phone_num" >   
                          <input type="hidden"  name="profile_photo" [(ngModel)]= "about_us_data.profile_photo" >
                          <input type="hidden"  name="better_half" [(ngModel)]= "about_us_data.better_half">   
                        </div>
                        <button type="submit" class="btn btn-primary" >submit</button>
                        <button style="float:right" type="button " class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </form>
                
              </div>
            </div>
          </div>
        </div>