.round_image{
                height: 59%;
                margin: 5%;
                border-radius: 50%;
                width: 42%;
                margin-top: 39%;
                margin-left: 28%
}

.paragraph{
    padding-top: 16%;
  
}
.modal_content{
    padding: 15px;
}
.modal_content label{
    margin-right: 15px;
}
.modal_content .btn-primary{
    background-color: orange !important;
    border: none !important;
}