
<div class="col-12">
  <!-- camera window  -->
    <div style="text-align:center">
        <webcam [height]="500" [width]="500" [trigger]="triggerObservable" 
        (imageCapture)="handleImage($event)" *ngIf="showWebcam"
          [allowCameraSwitch]="allowCameraSwitch" 
          [switchCamera]="nextWebcamObservable"
          [videoOptions]="videoOptions"
          (cameraSwitched)="cameraWasSwitched($event)"
          (initError)="handleInitError($event)">
        </webcam>
    </div>
  <!-- camera window end  -->
  <!-- buttom buttons   -->
    <div class="row">
      <nav class="col-12 navbar fixed-bottom navbar-expand-md navbar-light">
        <!-- 1) upload button with gallery  -->
        <div class="col-4 switch">
          <button type="submit"  *ngIf="click_to_open_file" class="nav-item nav-link" (click) = "addstory() ">
            <i class="far fa-image"></i>
          </button>
          <input type="file" *ngIf="chosefile"   #Image accept="image/*" (change)="handleFileInput($event.target.files)" multiple >
        </div>
        <!-- 2) upload button with front camera  -->
        <div class="col-4 circle">
          <button (click)="triggerSnapshot()"  class="nav-item nav-link">
            <i class="far fa-circle"></i>
          </button>
        </div>
        <!-- 3) upload button with back camera -->
        <div class="col-4 switch">
          <button (click)="changeFacingMode()" class="nav-item nav-link">
            <i class="fas fa-sync-alt"></i>
          </button>
        </div>
      </nav>
    </div>
  <!-- end of button button    -->
</div>


