ack-webcam{
    width: 100% !important;
    height: 736px !important;
    position: absolute;
    top:0;
    object-fit: fill;
    display: block;
    z-index: -1;
}
nav{
    background-color: black;
    opacity: 0.3;
   
    z-index: 1;
  
}
.navbar a{
    font-size: 24px;
    color: white;
    text-align: center;
}
.circle button{
    background-color: transparent;
    outline: none;
    font-size: 70px;
    border: none;
    color: white;
}
.switch button{
    background-color: transparent;
    outline: none;
    font-size: 30px;
    border: none;
    color: white;
    margin: auto;
}
