<div class="container-fluid">
  <div class="row color">
      <div class="col-2">
          <a routerLink="/engagement" class="fas fa-arrow-left"></a> 
      </div>
      <div class="col-8" style="color:black;padding-top: 0px;">
          Engagement
      </div>
      <div class="col-1">
          <a routerLink="/engagement" class="fas fa-image"></a> 
      </div>
      <div class="col-1">
          <i class=" dropbtn icons fas fa-ellipsis-v" onclick="showDropdown()" style="margin-top:5px;">
          </i>
          <!-- menu -->
          <div id="myDropdown" class="dropdown-content">
              <a  id="myBtn">Send for print</a>
              <a>Delete posts</a>
          </div>
      </div>
  </div>
  <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
          <div class="modal-header">
          <h4>Send album for print</h4>
          </div>
          <div class="modal-body">
          <p>Email id to send the album</p>
          <input type="email" name="" id="email">
          </div>
          <div class="modal-footer">
              <button class="close">CANCEL</button>
              <button id="send">SEND</button>
          </div>
      </div>
  </div>
  <div class="row" > 
      <div class="col-4 column" *ngFor="let item of img">
          <img src={{item}}>
      </div>
  </div>
</div>