.color {
    font-size: 20px;
    color: deeppink;
    margin-top: 20px;
}

.dropdown {
    position: absolute;
    display: inline-block;
    /* right: 0.4em; */
}

.dropdown-content {
    display: none;
    position: relative;
    /* margin-top: 10px; */
    margin-right: -5px;
    background-color: wheat;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: black;
}

.show {
    display:block;
    width: 30%;
    float: right;
}
.fa-image{
    font-size: 28px !important;
}
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    }

    /* Create four equal columns that sits next to each other */
    .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    padding: 0 4px;
    }

    .column img {
    vertical-align: middle;
        width: 100%;
        height: 100px;
    }

.fa-image,.fa-image:active,.fa-arrow-left,.fa-arrow-left:active{
    color: deeppink;
    text-decoration: none !important;
}
/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 200px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
position: relative;
background-color: #fefefe;
margin: auto;
padding: 0;
width: 80%;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
from {top:-300px; opacity:0} 
to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

/* The Close Button */
.close {
color: grey;
float: right;
font-size: 20px;
font-weight: bold;
margin: 2%;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.modal-header {
padding: 16px 16px;
background-color: white;
color: black;
}

.modal-body {padding: 16px 16px;
color: deeppink;}

.modal-footer {
padding: 2px 16px;
color: black;
}
input[type=email]{
    width: 100%;
}
input[type=email]:focus{
    border-bottom-color: deeppink;
}
#send{
    background-color: transparent;
    color: deeppink;
    border: none;
    font-size: 20px;
    font-weight: bold;
    margin: 2%;
}