.story{
    margin-top: 50px;
}
#pro{
    border-radius: 50%;
    height:50px;
    margin:5%;
}
.col-8{
    display: inline;
    padding-top: 3%;
}
#ring{
    float: right;
    height: 20px;
    width: 20px;

    position: absolute;
    right: 15%;
    top: 15%;
}
.content{
    height: fit-content;
    text-align: center;
    margin: 30px;
}
#pro{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-top: 20%;
}
p{
    display: inline;
}
.icon{
    padding-top: 10px;
    text-align: center;
}
.share{
    float: left;
    margin-left: -25%;
    margin-right: 50%;
}
/* .select{
    float: right;
} */
.dropdown {
    position: absolute;
    display: inline-block;
    /* right: 0.4em; */
}

.dropdown-content {
    display: none;
    position: relative;
    margin-top: 50px;
    background-color: wheat;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: black}

.show {display:block;
width: 30%;
float: right;}

.icon{
    padding: 0 !important;
    line-height: 40px;
}
.icon ul{
    padding: 0 !important;
    margin: 0;
}
.icon ul li{
    list-style-type: none;
    display: inline-block;
}





*{
    margin: 0%;
    padding: 0%;
}
.clearfix {
    display: block;
    content: "";
    clear: both;
}
.signoutbutton{
    margin-left: 10%;
          background-color: #ef0873;
}
ul {
    list-style-type: none;
    margin-left: 15px;
    padding-top: 20px;
  }
ul li{
    margin: 10px 0px;
}
.viweallbutton{
    position: fixed;
    bottom: 9%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: inherit;
    padding: 5px 0;
}
.story{
    margin-top: 20px;
}
.padd_15{
    padding: 0 15px !important;
}
.row{
    padding: 0 15px !important;
}
.padd_zero{
    padding: 0px !important;
}
.col-8{
    display: inline;
    padding-top: 3%;
}
#ring{
    float: right;
    height: 30px;
    width: 30px;

    position: absolute;
    right: 15%;
    top: 15%;
}
.content{
    height: fit-content;
    text-align: center;
    margin: 30px;
}
#pro{
    height:50px !important;
    margin:5%;
    border-radius: 50%;
    width: 50px;
    margin-top: 20%;
}
p{
    display: inline;
}
.updimg{
    text-align: center;
}
.icon{
    float: right;
    padding-top: 10px;
    /* margin-left: -15px; */
    text-align: center;
}
/* .content{
    margin-bottom: 20px;
    margin-top: 10px;
} */
.para{
    /* word-wrap: break-word; */
    padding-top: 18px
}
.share{
    float: left;
    /* margin-left: -10%; */
}
.select{
    margin-right: -20%;
}
.dropdown {
    position: absolute;
    display: inline-block;
    /* right: 0.4em; */
}
.gap i{
    font-size: 15px;
   
}
.sp i{
    font-size: 20px;
    margin-left:10px;
    margin-right: 10px;
    margin-top:10px;
}
.dropdown-content {
    display: none;
    /* position: relative; */
    margin-top: 50px;
    background-color: wheat;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: black}

.show {display:block;
width: 30%;
float: right;}

.strip{
height: 90px;

}

* {
    box-sizing: border-box;
  }
  
  /* .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  } */
  .gap{
      padding-left: 2%;
      padding-right: 2%;
  
      padding-top: 26px;
      }
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
h6{
    margin-top:4%;
    margin-bottom: 4%;
}
              h1 {
                text-align: center;
                text-transform: uppercase;
                color: #4CAF50;
              }
              
              p {
                /* text-indent: 50px; */
                /* text-align: justify; */
                letter-spacing: 0px;
              }
              
              a {
                text-decoration: none;
                color: #008CBA;
              }

    /* .container {
    background-color: rgb(184, 185, 185);
    } */

  
    .event1{
        color: white;
        font-size: 15px;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .event2{
        color: white;
        font-size: 15px;
        text-align: center;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .mainevent{
        color: white;
        font-size: 20px;
        text-align: center;
        position: absolute;
        bottom: 40%;
        right: 35%;
    }
label{color: #ffd6a5}
.displaycards{
    background-color: rgba(128, 128, 128, 0.14);
    height: 100%;
    padding: 0px 0 15px !important;
}
.lates_update{
    margin-top: 30px;
}
.propic{
    margin-bottom: 20px;
    padding: 0px 15px !important;
}
    .w3-dropdown-content{
        right: 0;
        top: 30px;
    }
    /* .w3-bar-block{
        width: 10px !important;
    } */
    .top{
        margin-top: 18px;
        margin-bottom: 0px;
    }

.text{
    word-break: break-all;
    max-width: 100%;
  }
  .far{
      font-size: 20px;
      margin-top: 10px;
  }
  .eventheading{
    text-align: center;
   
  }
  /* new css */
  .top_story{
      height: 10px;
  }
  .color{
    background: linear-gradient(to right,#ff8d00,#ff1556);
    height: 100px;
    position: relative;
    margin-top: 35%;
}
.msgicon_top_story{
    padding-left: 10%;
}
.top_story img{
    max-height: 140px;
}
.date_color{
    color: #ffd6a5 !important;
}
.comment_button{
    text-align: right
}
.comment_button button{
    margin-top: 10px;
    padding: 4px 20px;
}
.comment_input{
    text-indent: 10px;
}
.comment_P{
    color:gray;
    font-size: 16px;
}

hr{
    color: black;
}

.nostory{

    margin-left: 13%;
    margin-right: 13%;
    margin-top: 19%;
    margin-bottom: 16%;
    color: black;
}
.margin_bottom{
    margin-bottom: 25px;
}
.vow{
    font-size: 14px;
    line-height: 40px;
}
/*spinner */


#spinner {
	-webkit-animation: frames 1s infinite linear;
	animation: frames 1s infinite linear;
	background: transparent;
	border: 1.75vw solid #FFF;
	border-radius: 100%;
	border-top-color: #DF691A;
	width: 20vw;
	height: 20vw;
	opacity: .6;
	padding: 0;
	position: absolute;
	z-index: 999;
}
@keyframes frames {
  0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(359deg);
	transform: rotate(359deg);
  }
}

#pause {
	display: block;
	background:
		rgba(0, 0, 0, 0.66)
		no-repeat
		0 0;
	width: 100%;
	height: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
}
