
<div class="container-fluid">
  <div class="row story" style="padding:0 !important">
      <div class="col-2">
          <!-- <img src="../../assets/0.jpeg" alt="" srcset="" id="pro"> -->
          <img src="{{propic}}" alt=""  id="pro">
      </div>
      <div class="col-8 vow">
          <p>{{name}} and {{better_half}} vow's</p>
      </div>
      <div class="col-2">
            <p>
             <!-- <a routerLink="/invitation"> -->
                <a routerLink="/engagement">
                        <img src="../../assets/rings.png" alt="" id="ring">                    </a>
                    </p>
      </div>
  </div>
  <div class="row content">
      <div class="col-12">
          <h3>Congrats User!</h3>
          <h6>Start adding photos and stories for your guests to stay updated with your VowFest</h6>
      </div>
  </div>

  <div class="row">
      <div class="col-12 updimg">
        <!-- | slice:0:3 -->
        <div class="margin_bottom" *ngFor="let i of image_data2 ;let i=index">
            <div class="row"  style="padding:0 !important;margin-bottom: 15px">
                    <div class="col-2">
                       
                        <img src="{{i.userphoto}}" alt="" srcset="" id="pro">
                        
                    </div>
                    <div class="col-8 para">
                        <strong> {{i.username}}'s </strong> Wedding story has begun <br>
                        <small class="small comment_P"> {{i.time | date: 'medium'}} </small>
                      
                    </div>
                    <div class="col-2 icon">
                        <ul>
                            <li style="margin-right: 15px;"><a class=""><img src="../../assets/share.png" alt=""></a></li>
                            <li class=" w3-dropdown-hover select"><a><img src="../../assets/select.png"></a>
                                <div class="w3-dropdown-content w3-bar-block w3-border w3-card-4">
                                    <a class="w3-bar-item w3-button">Edit</a>
                                    <a  class="w3-bar-item w3-button">Delete</a>
                                </div></li>
                           
                        </ul>
                        
                    </div>
                </div>
                <div  class=" col-12">
                    <img class="col-12" src="{{i.photo_data}}" style="max-width:100%;height:auto;"/>   
                </div>
                <div class="row col-12 displaycards">
                    <div class="row col-12 ">
                        <div class="col-8 text-left">
                            <p  class="comment_P"> {{i.story}}</p>
                        </div>     
                        <div class="col-4 text-right">
                            <i class="far fa-heart " style="color:deeppink;" (click)="setlike(i.photo_id)">
                                 <span *ngIf= " i.num_likes > 0">  {{i.num_likes}}</span>
                            </i>
                            <i class="far fa-comment msgicon_top_story" style="color:orange;"  (click) = "viewcomment(i.photo_id)"  > 
                                <span *ngIf= " i.num_comments > 0"> {{i.num_comments}}</span>
                            </i>                               
                                
                        </div>     
                    
                    </div>
                    
                    <div class="col-12 comment_div" *ngIf="comment_div == true && divid == i.photo_id">
                            <ul *ngFor="let comment of i.comments " class="col-12 text-left">
                                <li class="col-12">  <strong> {{comment.username}}</strong> just commented  </li>
                                <li class="col-12">  <p class="small" style="margin-left:0%">  {{comment.time | date}}</p>  </li>
                                <li class="col-12">  <p style="padding-bottom: 1%;"> {{comment.body}}</p></li>
                                <i class="fa fa-thumbs-up" aria-hidden="true" (click) = " add_counts_of_like(comment.comment_id)"></i>
                                {{comment.num_likes}}

                                <li class="col-12">  <hr> </li> 
                            </ul>
                            <br>
                            <form class="row col-12" (ngSubmit)="add_comment(com)" #com="ngForm">                        
                                <div class="col-8 form-group">
                                    <input type="hidden"  name = "photo_id" id="photo_id" [(ngModel)]="i.photo_id" />
                                    <input type="text" class="form-control comment_input" name = "body" id="Inputname" [(ngModel)]="body" />
                                </div>
                                <div class="col-4 form-group comment_button">
                                    
                                    <button type="submit" class="btn btn-primary small">comment</button>
                                </div>    
                            </form> 
                        </div>                     
                </div>
                    
        </div>
      </div>
  </div>
  <br><br><br>
  <div class="clearfix"></div>
    <div class="row">
        <app-navbar></app-navbar>
    </div>
    <div id="pause" class="d-flex align-items-center justify-content-center" *ngIf = "spinner == true">
        <div id="spinner"></div>
    </div>
</div>
