.jumbotron{
    background-color: transparent;
    padding-bottom: 0%;
}
hr{
    width:20%;
    background-color: brown;
}
.jumbo{
    margin-top: 35%;
}
.fa-plus-circle{
    color: orange;
    font-size: 20px;
}
.add_gift{
    padding-top:80%;
}
.icon{
    padding-left: 26%;
}