<div class="container-fluid">
    <div class="row">
      <app-navbar></app-navbar>  
    </div>
<div class="row">
    <div class="col-12">
        <div class="jumbotron">
            <div class="jumbotron text-center">
                <h1 class="display-6">Gift-Wishlist</h1>
                <hr class="mx-auto">
                
                <div  *ngIf = "validate">
                    <p>This is your Host gift list </p>
                </div>
                <div class="col-4 " *ngIf = "validate"> 
                    <label> Gift name </label> 
                    <div class="row" *ngFor="let i of GIftArray.gift_list">
                        <div class="col-4"> 
                          
                            <span id="name">
                             
                               <a>{{ i.gift_name }}</a>
                            </span>
                        </div>
                    </div>
                </div>
              
            </div>
            <div *ngIf = "!validate"  class=" add_gift">
                <p>Help your guests decide what to gift you for starting a new life</p>
                <a  routerLink="/gift-item" class="icon row col-12">
                    <i class="fas fa-plus-circle ">
                        ADD A GIFT 
                    </i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-12 text-center">
    </div>
</div> -->
</div>