
<div class="col-12 ">

    <!--Start bar line  -->
        <div class="row col-12 ">
            <div class="col-2" >
                <a routerLink="/dashboard/{{image_data}}" >
                    <img src="{{propic}}" alt=""  id="pro" style="max-width:100%;height:auto;">
                </a>
            </div>
            <div class="col-8">
                <h6>{{name}} and {{better_half}}'s vow's</h6>        
            </div>

            <!-- <share-buttons [url]="'https://twitter.com'" [showCount]="true"></share-buttons> -->
            <div class="col-2">
                <!-- <a   routerLink="/engagement"> -->
                <a   routerLink="/invitation">
                    <img src="../../assets/rings.png" alt="" id="ring">
                </a>
            </div>
        </div>
    <!--End bar line  -->

    <!-- Start Top story  -->
        <div class="clearfix"></div>
        <div class=" row col-12 ">
            <p style="color:#ff1556; font-size: 15px; margin-top: 30px">Top photos </p><br>
        </div>
        <div class=" row col-12">
            <div class="col-6 top_story gap" *ngFor="let i of image_data2  | slice:0:2;let i=index">
                
                <div  class="row"  style="border-radius: 15px;max-width:100%;">
                    <a  routerLink="/dashboard/{{image_data}}">  
                        <img src="{{i.photo_data}}" style="max-width:100%;"/> 
                    </a> 
                </div>
               
                <div class="row" >
                    <i class="far fa-heart col-6" style="color:deeppink;" (click)="setlike(i.photo_id)"> <span>  {{i.num_likes}}</span></i>
                    <i class="far fa-comment col-6 msgicon_top_story " style="color:orange;"> <span> {{i.num_comments}}</span></i>
                </div>
            </div>
        </div>
        <!-- <div *ngIf = "image_data.status == false" class="nostory ">
            <label>loading ......{{image_data.msg}}</label>
            <img src="../../assets/lg.curve-bars-loading-indicator.gif" style="max-width:20%;"/> 
        </div>   -->
    <!--End Top story   -->

    <!-- Start Event going   -->
        <div class="clearfix"></div>
        <div class="row col-12   color">
            <img src="../../assets/yellow_lace.png" alt="Snow" height="20px" width="100%">        
            <div *ngIf="eventarray_length == 0" class=" row col-12 eventheading" routerLink = "../event-list"> 
                <h3>{{eventdata.msg}}</h3> 
            </div> 
            <div class= "row col-12 padd_zero" *ngIf="eventarray_length > 0">
                <div class="col-4 text-center date_color" *ngFor="let i of eventdata.event_list  | slice:0:1 ;let i=index">  
                    <label  class="small" *ngIf = "(i.date | date) === (now | date)">Today</label>
                    <label  class="small" *ngIf = "(i.date | date) > (now | date)">Upcomming Event</label> 
                    <div>
                        <div *ngIf = "(i.date | date) === (now | date)">{{i.date | date }}<br></div>
                        <div *ngIf = "(i.date | date) > (now | date)">{{i.date | date }}<br></div>
                    </div>
                </div>
                <div class="col-4 text-center">                                           
                    <div *ngFor="let i of eventdata.event_list  | slice:0:1 ;let i=index"  style="color : white" >
                        <div *ngIf = "(i.date | date) === (now | date)"> {{i.name}} <br></div>
                        <div *ngIf = "(i.date | date) > (now | date)"> {{i.name}} <br></div>
                    </div>                  
                </div>
                <div class="col-4 text-center date_color" *ngFor="let i of eventdata.event_list  | slice:0:1 ;let i=index" >
                    <label class="small" *ngIf = "(i.date | date) === (now | date)">Ongoing</label>
                    <label class="small" *ngIf = "(i.date | date) > (now | date)">Ongoing</label>
  
                        <div *ngIf = "(i.date | date) === (now | date)">
                            <div *ngFor="let j of i.programe  | slice:0:1">
                                {{j.name}} <br>
                            </div>
                        </div>
                        <div *ngIf = "(i.date | date) > (now | date)">
                            <div *ngFor="let j of i.programe  | slice:0:1">
                                {{j.name}} <br>
                            </div>
                        </div>
                </div>
            </div>

            <div  *ngIf = "No_event == true" style="color : white"  routerLink = "../event-list">
                <div class="col-12 text-center no_event">
                    No Event Today 
                </div>
            </div>
        </div>
    <!--End  Event going   -->

    <!--Start story Time line -->
        <div class="row lates_update">
            <div class="col-12 ">
                <p style="color:#ff1556; font-size: 13px;">Latest Update</p>
            </div>
        </div>
        <!-- <div *ngIf = "image_data.status == 'true'"> -->
            <div class="" *ngFor="let i of image_data2 ;let i=index">
                    <div class="row col-12 propic">
                        <div class="col-2">
                          
                            <img src= "{{i.userphoto}}" id="pro" style="max-width:100%;height:auto;" >
                            
                        </div>
                        <div class="col-8 para">
                         <strong> {{i.username}}'s </strong> wedding festival has begun<br>
                         <small class="small comment_P"> {{i.time | date: 'medium'}} </small>
                  
                        </div>
                      
                        <div class="col-2 icon">
                            <div class="col-1 share">
                                <a class=""><img src="../../assets/share.png" alt=""></a>
                            </div>
                            <div class="col-1 w3-dropdown-hover select">
                                <!-- <button class="w3-button">&#8942;</button> -->
                                <a><img src="../../assets/select.png"></a>
                                <div class="w3-dropdown-content w3-bar-block w3-border w3-card-4">
                                    <a class="w3-bar-item w3-button">Edit</a>
                                    <a  class="w3-bar-item w3-button">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  class=" col-12">
                        <img class="col-12" src="{{i.photo_data}}" style="max-width:100%;height:auto;"/>   
                    </div>
                    <div class="row col-12 displaycards">
                        <div class="row col-12 ">
                            <div class="col-8">
                                <p  class="comment_P"> {{i.story}}</p>
                            </div>     
                            <div class="col-4 text-right">
                                <i class="far fa-heart " style="color:deeppink;" (click)="setlike(i.photo_id)"> 
                                    <span *ngIf = "i.num_likes > 0">  {{i.num_likes}}</span>
                                </i>
                                <i class="far fa-comment msgicon_top_story" style="color:orange;"  (click) = "viewcomment(i.photo_id)"  > 
                                    <span  *ngIf = "i.num_likes > 0"> {{i.num_comments}}</span>
                                </i>                               
                                    
                            </div>     
                        
                        </div>
                        
                        <div class="col-12 comment_div" *ngIf="comment_div == true && divid == i.photo_id">
                                <ul *ngFor="let comment of i.comments " class="col-12">
                                    <li class="col-12">  <strong> {{comment.username}}</strong> just commented  </li>
                                    <li class="col-12">  <p class="small" style="margin-left:0%">  {{comment.time | date}}</p>  </li>
                                    <li class="col-12">  <p style="padding-bottom: 1%;"> {{comment.body}}</p></li>
                                    <i class="fa fa-thumbs-up" aria-hidden="true" (click) = " add_counts_of_like(comment.comment_id)"></i>
                                    {{comment.num_likes}}

                                    <li class="col-12">  <hr> </li> 
                                </ul>
                                <br>
                                <form class="row col-12" (ngSubmit)="add_comment(com)" #com="ngForm">                        
                                    <div class="col-8 form-group">
                                        <input type="hidden"  name = "photo_id" id="photo_id" [(ngModel)]="i.photo_id" />
                                        <input type="text" class="form-control comment_input" name = "body" id="Inputname" [(ngModel)]="body" />
                                    </div>
                                    <div class="col-4 form-group comment_button">
                                        
                                        <button type="submit" class="btn btn-primary small">comment</button>
                                    </div>    
                                </form> 
                        </div>                     
                    </div>
            </div>
        <!-- </div>     -->
        <div class="clearfix"></div>
        <!-- <div *ngIf = "image_data.status == false" class="nostory">
            <label>loading ......{{image_data.msg}}</label>
            <img src="../../assets/lg.curve-bars-loading-indicator.gif" style="max-width:23%;"/> 
        </div> -->
     <!--End story Time line -->

    <!-- <div class ="row col-12 ">
            <button routerLink = "/allpost" class="btn btn-secondary viweallbutton"> View All</button>
    </div> -->
    <br><br><br><br><br><br>
    <div class="clearfix"></div>
    <div id="pause" class="d-flex align-items-center justify-content-center" *ngIf = "spinner == true">
        <div id="spinner"></div>
    </div>
    <div class=" row col-12">
            <app-navbar></app-navbar>
        </div>
</div>