.arrow{
    float: left;
    font-size: 30px;
    line-height: 80px;
}
.button{
    float: right;
    height: 40px;
    margin-top: 2vh;
    width: 100px;
    background-color: orange;
    color: white;
    text-align: center;
    line-height: 40px;
    border: none;
}
.button:active,.fa-arrow-left:active{
    text-decoration: none;
    color: white;
}
.jumbotron{
    background-color: transparent;
}
.fa-arrow-left{
    color: orange;
}
.form-group a{
    color: red;
}

label{
    color: orange;
}
input[type=text] {
    border: none;
    border-bottom: 4px solid orange;  
}