<div class="container-fluid">
  <div class="row" style="height:80px;">
      <div class="col-3 arrow">
          <a routerLink="/gift-lists" class="fa fa-arrow-left"></a>
      </div>
      <div class="col-6"></div>
      <div class="col-3">
          <a routerLink="/gift-lists" class="button">Delete Gift</a>
      </div>
  </div>
  <div class="row" style="height:auto;">
      <div class="jumbotron ml-auto mr-auto">
          <form (ngSubmit)="Edit_gift(giftedit)" #giftedit="ngForm">
              <div class="form-group">
                  <label for="Inputname">Gift item name</label>
                  <input type="text" class="form-control" name = "gift_name" id="gift_name" [(ngModel)]="gift_data.gift_name" >
              </div>
              <div class="form-group">
                  <label for="InputLink">Purchase link</label>
                  <input type="text" class="form-control" name = "gift_link" id="gift_link" [(ngModel)]="gift_data.gift_link" >
                  <input type="hidden"  name = "gift_id" id="gift_id" [(ngModel)]="gift_data.gift_id" >
              </div>
              <div class="form-group">
                  <button type="submit" class="button">Done</button>
              </div>
          </form>
          
      </div>
  </div>
</div>