<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <app-navbar></app-navbar>
      </div>
    </div>
    <div class="row">
      <div class="topnav">
        <a routerLink="/invitation"  [ngClass]="{'inactive': !shouldShow  }">Invitation</a>
        <a routerLink="/guest-list"  [ngClass]="{ 'active': shouldShow, 'inactive': !shouldShow  }">Guest list</a>
        <a routerLink="/account"  [ngClass]="{  'inactive': !shouldShow  }">Account</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
          <div class="jumbotron text-center jumbo">
              <p>Select contacts from your phone to invite to your Vowfest</p>
              <i class="fas fa-plus-circle" type="button" (click)="addpic()" >SELECT CONTACTS</i>
          </div>
      </div>
    </div>
  </div>


 