<!DOCTYPE html>
<html>
<body >
  <a routerLink="../login">Back</a>&nbsp;
  <a onclick="document.getElementById('id01').style.display='block'" style="width:auto;color: blue">login</a>

<form (ngSubmit)="onSubmit(user)" #f="ngForm" style="border:1px solid #ccc">
  <div class="container">
    <h1 class="text-center">Sign Up</h1>
    <p class="text-center">Please fill in this form to create an account.</p>
  
    <hr>
    <label for="name"><b>Name</b></label>
    <!-- <input type="text" placeholder="Enter Name" name="name" [(ngModel)]= "namee" required>
    <label for="email"><b>Email</b></label> -->
    <input type="text" placeholder="Enter name" name="name" [(ngModel)]= "user.name" required>
    
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" [(ngModel)]= "user.email" required>
    
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" [(ngModel)]= "user.password" required>
    <div class="clearfix" >
      <button type="button" class="cancelbtn"><a routerLink="/login">Cancel</a></button>
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>

</body>
</html>


<div id="id01" class="modal">
  <form class="modal-content animate" (ngSubmit)="loginonSubmit(f)" #f="ngForm">
 <div class="imgcontainer">
   <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
 </div>

 <div class="container">

   <label for="email"><b>Email</b></label>
   <input type="text" placeholder="Enter Email" name="email"[(ngModel)]= "email" required>
   <font color="red">{{password_error}}</font>

   <label for="password"><b>Password</b></label>
   <input type="password" placeholder="Enter Password" name="password"[(ngModel)]= "password"  required>
   <font color="red">{{non_field_errors}}</font>   
   <button type="submit">Login</button>
 </div>
 <!-- <label>
   <input type="checkbox" checked="checked" name="remember"> Remember me
 </label> -->
 <!-- <div class="container" style="background-color:#f1f1f1">
   <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
   <span class="psw">Forgot <a href="#">password?</a></span>
 </div> -->
</form>
</div>


<script>
  // Get the modal
  var modal = document.getElementById('id01');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
</script>

