<div class="container-fluid">
    <div class="row">
        <div class="col-3 arrow">
            <a routerLink="/login" class="fa fa-arrow-left"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>Welcome {{name}} !</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h6>Let’s get you started!</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form  #imageForm=ngForm (ngSubmit)="OnSubmit(imageForm)">
                <input type="text" name="name" value={{name}} [(ngModel)]="name" placeholder="User Name " >
                <h6></h6>
                <input type="text"  name="better_half" placeholder="Name of your better half" [(ngModel)]="pro.better_half" >
                <h6></h6>
                <input type = "text" placeholder="About you both" [(ngModel)]="pro.about"  name="about">
                <div class="row">
                    <div class="col-12">
                        <div class="img">
                            <label> 
                                <i class="fa fa-camera"></i>   
                                ADD A PHOTO
                                <input type="file"    
                                #Image accept="image/*" 
                                id = "file"
                                (change)="handleFileInput($event.target.files)">
                            </label> 
                        </div>
                        <!-- <div class="col-6">
                            <img  src="{{imageUrl}}" alt="your image" />
                        </div> -->
                    </div>
                </div>    
                <button id="done" type="submit">OK, PROCEED</button>
            </form>   
        </div>
    </div>
</div>


 
