<div class="container-fluid">
    <div class="row">
    <div class="col-12">
      <app-navbar></app-navbar>
    </div>
    </div>
    <div class="row">
    <div class="topnav">
      
      <!-- <a routerLink="/invitation"  [ngClass]="{ 'active': shouldShow, 'inactive': !shouldShow  }">Invitation</a>
      <a routerLink="/guest-list"  [ngClass]="{  'inactive': !shouldShow  }">Guest list</a>
      <a routerLink="/account"  [ngClass]="{  'inactive': !shouldShow  }">Account</a>
    -->
    </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a  class="send_text"> Select all </a> 
        <a style="margin-left: 77%;"><img src="../../assets/select.png"></a> 
      </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="col-4">  
              <img class= "image_grid" src="https://cutt.ly/S1RKBX">
            </div>
            <div class="col-4">  
              <img class= "image_grid" src="https://cutt.ly/S1RKBX">
            </div>
            <div class="col-4">
              <img class= "image_grid" src="https://cutt.ly/S1RKBX">
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-12">
        <div class="jumbotron text-center jumbo">
           
            <i class="fas fa-plus-circle" type="button" (click)=addpic()>ADD A PHOTO</i>
        </div>
    </div>
    </div>
</div>
