<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <app-navbar></app-navbar>
      </div>
    </div>
    <div class="row">
      <div class="topnav">
       
        <a routerLink="/invitation"  [ngClass]="{  'inactive': !shouldShow  }">Invitation</a>
        <a routerLink="/guest-list"  [ngClass]="{ 'active': shouldShow, 'inactive': !shouldShow  }">Guest list</a>
        <a routerLink="/account"  [ngClass]="{  'inactive': !shouldShow  }">Account</a>

      </div>
    </div>
    <div class="row" style="margin-top: 30px;border-bottom: 1px solid #ccc;">
    <div class="col-4" style="color: orange;">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> Add
    </div>
    <div class="col-3 text-right nopadd">
        <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label>
    </div>
    <div class="col-5 text-right nopadd">
      <ul class="swr_list">
        <li><a href=""> S</a> </li>
        <li><a href=""> W</a> </li>
        <li><a href=""> R</a> </li>
      </ul>
    </div>
  </div>
  <div class="row" style="margin-top: 30px;">
      <div class="col-6 ">
          <p style="color:#b1aeae;">Natasha</p>
        </div>
    <div class="col-6 text-right nopadd">
      <ul class="swr_list1">
        <li><a href=""> S</a> </li>
        <li><a href=""> W</a> </li>
        <li><a href=""> R</a> </li>
      </ul>
    </div>
  </div>
  </div>
