

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 10px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.topnav {
    overflow: hidden;
    margin-left: 5%;
    text-align: center;
    }
    
    .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
    }
    
    .topnav a:hover {
    border-bottom: 3px solid red;
    }
    
    .topnav a.active {
    border-bottom: 3px solid red;
    }
    ul{
        list-style-type: none;
    }
    .swr_list li ,.swr_list1 li{
      display: inline-block;
      margin: 0 5px;
    }
    .swr_list li a{
    color: orange;
    border: 1px solid orange;
    border-radius: 100px;
    padding: 3px 6px;
    cursor: pointer !important;
    font-size: 12px;
    }
    .swr_list1 li a{
        color: orange;
        border-radius: 100px;
        padding: 2px 5px;
        cursor: pointer !important;
        }