
.jumbotron{
    background-color: transparent;
    padding-bottom: 0%;
}
hr{
    width:10%;
    background-color: brown;
}
.jumbo{
    margin-top: 25%;
}
.fa-plus-circle{
    color: orange;
    font-size: 20px;
}
.topnav {
overflow: hidden;
margin-left: 5%;
text-align: center;
}

.topnav a {
float: left;
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
border-bottom: 3px solid transparent;
}

.topnav a:hover {
border-bottom: 3px solid red;
}

.topnav a.active {
border-bottom: 3px solid red;
}
.send_text{
    color: orange!important;
}
.image_grid{
    width: 100%;
    padding: 10%;

}
.select_grid{
    padding-top: 15%;
}
.add_button{
    padding-left: 25%;
}
.select{
    margin-right: -20%;
}