<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-navbar></app-navbar>
    </div>
  </div>
  <div class="row">
    <div class="topnav">     
      <a routerLink="/invitation"  [ngClass]="{ 'active': shouldShow, 'inactive': !shouldShow  }">Invitation</a>
      <a routerLink="/guest-list"  [ngClass]="{  'inactive': !shouldShow  }">Guest list</a>
      <a routerLink="/account"  [ngClass]="{  'inactive': !shouldShow  }">Account</a>
    </div>
    <div *ngIf=" photo_select_grid == true ">
      <div class="col-12 row  select_grid">
          <div class="col-10">  <a  class="send_text"> Select all </a> </div>
          <!-- <div class="col-2">  <a><img src="../../assets/select.png"></a> </div> -->
          <div class="col-1 w3-dropdown-hover select">
            
            <a><img src="../../assets/select.png"></a>
            <div class="w3-dropdown-content w3-bar-block w3-border w3-card-4">
                <a class="w3-bar-item w3-button">Edit</a>
                <a  class="w3-bar-item w3-button">Delete</a>
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col-12 row ">
              <div class="col-4">  
                <img class= "image_grid" src="https://cutt.ly/S1RKBX">
              </div>
              <div class="col-4">  
                <img class= "image_grid" src="https://cutt.ly/S1RKBX">
              </div>
              <div class="col-4">
                <img class= "image_grid" src="https://cutt.ly/S1RKBX">
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-12 row ">
            <div class="col-4">  
              <img class= "image_grid" src="https://cutt.ly/S1RKBX">
            </div>
            <div class="col-4">  
              <img class= "image_grid" src="https://cutt.ly/S1RKBX">
            </div>
            <div class="col-4">
              <img class= "image_grid" src="https://cutt.ly/S1RKBX">
            </div>
        </div>
      </div>
    </div>  

    <div class="row" *ngIf=" photo_select_grid == false ">
      <div class="col-12">
          <div class="jumbotron text-center jumbo">
              <p>Add pictures of your invitation card to send to your guests</p>
          </div>
      </div>
    </div>
    <div class="row add_button">
      <div class="col-12">
        <i class="fas fa-plus-circle" type="button" (click)=addpic()>ADD A PHOTO</i>
      </div>
    </div>
  </div>
</div>  