/* You can add global styles to this file, and also import other style files */

ul{
  padding: 0 !important;
}
.nopadd{
  padding: 0px !important;
}
share-button{
  margin-top: 10px
}
share-buttons button{
  margin: 0 4px !important;
  margin-top: 10px !important;
  border: none;
  padding: 5px 12px;
  color: #fff;
}
.sb-facebook{
  background-color: #4267B2;
  border: none;
  font-size: 20px !important;
  margin-top: 10px;
  margin-right: 20px;
}
.sb-twitter{
  background-color: #00acee;
}
.sb-linkedin{
  background-color: #006fa6;
}
.sb-pinterest{
  background-color: #BD091D;
}
.sb-google{
  background-color: #DB4437;
}
.sb-stumble{
  background-color: #006567;
}
.sb-reddit{
  background-color: #FF4006;
}
.sb-whatsapp{
  background-color: #25D366;
}
.sb-tumblr{
  background-color: #36465D;
}
.sb-vk{
  background-color: #4C75A3;
}
.sb-telegram{
  background-color: #4C75A3;
}
.sb-email{
  background-color: #FF961C;
}
.sb-copy{
  background-color: #607D8B;
}
.sb-print{
  background-color: #765AA2;
}
.sb-icon i{
  border: none !important;
  color: #fff;
  padding: 5px;
  line-height: 0;
}
.whatsapp_share{
  color: green;
  font-weight: 800;
  font-size: 30px;
  cursor: pointer;
}
@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .top, .story , .color {
      width:100%;
    }
    .contai_fixed{
      overflow: hidden;
      padding: 0;
    }
    .clearfix{
        display: block;
        content: "";
        clear: both;  
    }
}

