.jumbotron{
    background-color: transparent;
    padding-bottom: 0%;
}
hr{
    width:10%;
    background-color: brown;
}
.fa-pen{
    float: right;
    color: orangered;
    font-size: 20px;
}
.fa-pen:active{
    color: orangered;
    text-decoration: none;
}
.fa-trash{
    float: right;
    color: orangered;
    font-size: 20px;
}
.fa-trash:active{
    color: orangered;
    text-decoration: none;
}
.list-group{
    border: none;
}
.list-group li{
    border: 0 none;
}
.fa-plus-circle{
    color: orange;
    margin-left: 10%;
}
button{
    background-color: transparent;
    border: none;
    float: right;
}
.list{
       padding-top: 10%
     }
