<div class="container-fluid">
  <div class="row">
    <app-navbar></app-navbar>
  </div>
  <div class="row">
    <div class="col-12">
        <div class="jumbotron">
            <h1 class="display-6 text-center">Gift-Wishlist</h1>
            <hr class="mx-auto">
          <div class="row list " *ngFor="let item of giftname;let i = index">
              <div class="col-4">  
                <span id="name">              
                  <a>{{ item.gift_name }}</a>
                </span>
              </div>
              <div class="col-4 "><button (click)="deletegift(i,item.gift_id)" class="fas fa-trash"></button></div>
              <div class="col-4 "><button (click)="editgift(item)"  class="fas fa-pen"></button></div>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <a routerLink="/gift-item"><i class="fas fa-plus-circle">ADD GIFT ITEM</i></a>
    </div>
  </div>
</div>