body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: white;
  color: #ff1556;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.text{
      padding-left: 20%;
      padding-top: 27%;
    }

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f1f1f1;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.img_class{
   height:"100%" ;
   width:"100%";
   padding-top: 10%
}
.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
#add{
    position: absolute;
    right:  20px;
    width:150px;
    bottom: 10px;
    border: none;
    /* top: 0; */
    color: deeppink;
    background-color: transparent;
    /* font-size: 35px; */
    font-weight: bold;
}
#add:hover,
#add:focus{
  border: 0px none;
  outline: none;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
  border: none;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
.album_name{
  text-align: center;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
     border:  1px solid blue;
     background-color: #fefefe;
  }
}

.jumbotron hr{
    
    width:20%;
    background-color: brown;
}
nav{
    background-color: lightpink;
}
.navbar a{
    font-size: 30px;
    color: deeppink;
    text-align: center;
}
.jumbotron{
    background-color: transparent;
}
hr{
    width:10%;
    background-color: brown;
}
.jumbo{
    margin-top: 9%;
    /* height: 84px; */
}
.border{
    border: 2px solid black;
    border-radius: 10%;
}
.fa-plus-circle{
    color: orange;
    font-size: 20px;
    padding-top: 50%;
    z-index: 1;
}
.curved{
    border-radius: 10%;
    margin-left: -7%;
    margin-top: 3%;
}

.nopadd{
  padding: 0px !important;
}
.color {
  font-size: 20px;
  color: deeppink;
  margin-top: 20px;
}

.dropdown-content {
  display: none;
  position: relative;
  /* margin-top: 10px; */
  margin-right: -5px;
  background-color: wheat;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.fa-arrow-left,.fa-arrow-left:active{
  color: deeppink;
  text-decoration: none;
}
.image_box{
  margin-top: 50px;
}
/* fdngvfdkngjkdfngn */

