

  <div class="container-fluid">
    <div class="row">
      <app-navbar></app-navbar>
    </div>
    <div class="col-12 row color">
      <div class="col-1">
        <a routerLink="/photo" class="fas fa-arrow-left"></a>
      </div>
      <div class="col-6 album_name">
        {{album_id.album_name }}
      </div>
      <div class="col-2">
        <a (click)="storigrid()" *ngIf="stories_ui == true" class="fas fa-th"></a>
        <a (click)="photogrid()" *ngIf="photo_ui == true" class="fas fa-th"></a>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-1">
        <i class=" dropbtn icons fas fa-ellipsis-v" onclick="showDropdown()" style="margin-top:5px;">
        </i>
        <!-- menu -->
        <div id="myDropdown" class="dropdown-content">
          <a>Send album for print</a>
        </div>
      </div>
    </div>
      <div class="col-12" *ngIf="photo_ui == true">
        <div class="row"  *ngIf = "!validate">
          <div class="col-12 border jumbo">
            <button onclick="document.getElementById('id01').style.display='block'" style="padding-top: 1%;" class="fas fa-plus-circle">Add Image </button>
          </div>
        </div>
        <div class="row image_box">
          <div class="col-12 " *ngFor="let item of image.photos_list">
            <a id="image">
              <img src="{{item.photo_data}}" class= "image_class"   width="100%" />
            </a>
            <br><br>
            <p style="color:deeppink;margin-top: 1%;"></p>
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="stories_ui == true">
        <app-stories></app-stories>
      </div>
  </div>
 
  <div id="id01" class="modal">
    <form class="modal-content animate" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      </div>

      <div class="container">

        <label for="photo">
          <b>Add Photo</b>
        </label>
        <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)" multiple>

        <button type="submit" onclick="document.getElementById('id01').style.display='none'" id="add">Add Photos</button>
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      </div>
    </form>
  </div>

    <div *ngIf = "image.status == false " class="col-12 row text">
     {{image.msg}}
    <div>
  <script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>



