<div class="container-fluid">
  <div class="row">
    <app-navbar></app-navbar>
  </div>
  <!-- <div class="row col-12 arrow">
    <a routerLink="/event-list" class="fa fa-arrow-left" > Check current event </a>
  </div> -->
  <div class="row">
    <div class="col-12">
        <div class="jumbotron">
            <!-- class="col-12 arrow text-center" -->
            <div class="jumbotron text-center">
                <h1 class="display-6">Calendar</h1>
                <hr class="mx-auto">
                
                <div class="jumbo">
                  <p>Add the iternanrry of your wedding festival</p>
                  <a *ngIf = "!validate" routerLink="/add-event" class="fas fa-plus-circle ">ADD AN EVENT</a>
               
                </div>
            </div>
        </div>
    </div>
  </div>
</div>