.jumbotron{
    background-color: transparent;
    padding-bottom: 0%;
}
hr{
    width:20%;
    background-color: brown;
}
.jumbo{
    margin-top: 60%;
}
.fa-plus-circle{
    color: orange;
    font-size: 20px;
}
.arrow a{
    color: orange;
    font-size: 20px;
    cursor: pointer !important;
    padding-top: 30px;
}