
<div class="container">
  <div class="row">
    <div class="col-2">
      <a routerLink="/stories" class="fa fa-arrow-left"></a>
    </div>
    <div class="col-10">
      <h2 align= "center">
        New Story
      </h2>
    </div>
  </div>
 

  <div class="row ">
    <div class="col-12">
      <img src={{story_data.base64}} class="image_size" >
    </div>
  </div>
  <div  class="row ">
    <div class="col-12" align="center">
      <input type="text" placeholder="Tell the story behind the picture" class="text-line" [(ngModel)]="story.story"/>
    </div>
  </div>
  <div class="row " style="margin-bottom: 38%;">
    <div class="col-12"  align="center">
      <input type="text" placeholder="Tag people from your guestlist" class="text-line"/> 
    </div>
  </div>
  <div  class="row " >
    <div class="col-12" >
      <a type="button" (click)=addstory() id="done" align="center"  >PUBLISH</a>
    </div>
  </div>
	<div id="pause" class="d-flex align-items-center justify-content-center" *ngIf = "spinner == true">
    <div id="spinner"></div>
  </div>
</div>


