body {
    background: black;
}
.text-line {
    background-color: transparent;
    color: black;
    outline: none;
    outline-style: none;
    width: 80%;
    outline-offset: 0;
    margin-top: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #ff1556 1px;
    padding: 3px 10px;
}
.image_size{
    height: 100%;
    width: 100%;
}
.fa-arrow-left,.fa-arrow-left:active{
    color: orange;
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
    }
h2{
    font-weight: bold;
    margin-top: 10px;
}
#done{
    background-color: #ff1556;
    color: white;
    border: #ff1556;
    width: 100%;
    height: 50px;
    font-size: 25px;
  
    position: absolute;
    bottom: 0px;
    vertical-align: middle;
    left: 0px;
    text-decoration: none;
}


#spinner {
	-webkit-animation: frames 1s infinite linear;
	animation: frames 1s infinite linear;
	background: transparent;
	border: 1.75vw solid #FFF;
	border-radius: 100%;
	border-top-color: #DF691A;
	width: 20vw;
	height: 20vw;
	opacity: .6;
	padding: 0;
	position: absolute;
	z-index: 999;
}
@keyframes frames {
  0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(359deg);
	transform: rotate(359deg);
  }
}

#pause {
	display: block;
	background:
		rgba(0, 0, 0, 0.66)
		no-repeat
		0 0;
	width: 100%;
	height: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
}
