
.jumbotron{
    background-color: transparent;
    padding-bottom: 0%;
}
hr{
    width:10%;
    background-color: brown;
}
.jumbo{
    margin-top: 25%;
}
.fa-plus-circle{
    color: orange;
    font-size: 20px;
}
.topnav {
overflow: hidden;
margin-left: 5%;
text-align: center;
}

.topnav a {
float: left;
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
border-bottom: 3px solid transparent;
}

.topnav a:hover {
border-bottom: 3px solid red;
}

.topnav a.active {
border-bottom: 3px solid red;
}
.jumbotron_text{
    margin-top: 50px;
    padding: 0;
}
.user_mail{
    color: #ccc;
    font-size: 18px;
    font-weight: 800;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}
.user_mail a{
    font-size: 12px;
    color: #ccc;
}
.manager_box{
    margin: 30px 0px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}
.manager_box img{
    border-radius: 100px;
}
.manager_box .name{
    font-size: 20px;
    margin-bottom: 0;
}
.manager_box .add{
    color: #ccc;
}
hr{
    width: 100%;
    background-color: #ccc
}