<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-navbar></app-navbar>
    </div>
  </div>
  <div class="row">
    <div class="topnav">
      <a routerLink="/invitation" [ngClass] = "{ 'inactive': !shouldShow_invi }">Invitation</a>
      <a routerLink="/guest-list" [ngClass] = "{ 'inactive': !shouldShow_guest }">Guest list</a>
      <a routerLink="/account"    [ngClass] = "{ 'active'  : shouldShow_account, 
                                                 'inactive': !shouldShow_account  }">Account</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="jumbotron_text">
          <p style="color:orange">The couple  
          <img src="../../assets/edit.png"  style="float:right" alt="">
              <!-- <i class="fa fa-plus-circle" style="float:right" aria-hidden="true"></i>--> </p>
          <p class="user_mail">Natasha sharma <br><a href="mailto:test@gmail.com?Subject=Hello%20again" target="_top"> test@gmail.com </a> </p>
          <p style="color:rgb(124, 195, 243);margin-top: 30px;text-align: center;">
              <i class="fa fa-camera" aria-hidden="true"></i>
              Choose a VOWfest managers 
          </p>   
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr>
    </div>
  </div>    
  <!-- <div class="row manager_box">
    <div class="col-2 nopadd">
      <img src="../../assets/user.jpeg" alt="">
    </div>
    <div class="col-4 ">
      <p class="name">Natasha </p>
      <p class="add">Indore</p>
    </div>
    <div class="col-6 text-right nopadd">
      <p style="color:blue">Quote requested</p>
    </div>
  </div> -->
  <p class="text-center" style="color:orange" > 
    <i class="fas fa-plus-circle"  (click)=addpic()></i> 
    Add your own event manager 
  </p> 
</div>
