.arrow{
    float: left;
    font-size: 30px;
    line-height: 80px;
}

.button{
    float: right;
    height: 40px;
    margin-top: 2vh;
    width: 100px;
    background-color: orange;
    text-align: center;
    text-decoration: none;
    color: white;
    line-height: 40px;
    border: none;
}
.jumbotron{
    background-color: transparent;
}
.fa-arrow-left{
    color: orange;
    text-decoration: none;
}
label{
    color: orange;
}


input[type=text] {
    border: none;
    border-bottom: 4px solid orange;  
}