<div class="container-fluid">
    <form (ngSubmit)="gift_item(f)" #f="ngForm">
        <div class="row" style="height:80px;">
            <div class="col-3 arrow">
                <a routerLink="/stories" class="fa fa-arrow-left"></a>
            </div>
            <div class="col-6"></div>
            <div class="col-3">
                <button  type="submit" class="button">Done</button>
            </div>
        </div>
        <div class="row" style="height:auto;">
            <div class="jumbotron ml-auto mr-auto">
            
                    <div class="form-group">
                        <label for="Inputname">Gift item name</label>
                        <input type="text" class="form-control" name="gift_name" [(ngModel)]="gift_name" >
                    </div>
                    <div class="form-group">
                        <label for="InputLink">Purchase link</label>
                        <input type="text" class="form-control" name="gift_link" [(ngModel)]="gift_link" >
                    </div>
                   
                    
            </div>
        </div>
    </form>    
  <!-- <app-gift-wishlist [gift]="item"></app-gift-wishlist> -->
</div>

