<!DOCTYPE html>
<html>
<body >
  <!-- <a routerLink="../login">Back</a> -->
<form (ngSubmit)="onSubmit(f)" #f="ngForm" style="border:1px solid #ccc">
  <div class="container">
    <h1 class="text-center">Sign Up</h1>
    <p class="text-center">Please fill in this form to create an account.</p>
    <hr>
    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="name" [(ngModel)]= "name" required>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" [(ngModel)]= "email" required>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" [(ngModel)]= "password" required>
    <div class="clearfix" >
      <button type="button" class="cancelbtn"><a routerLink="/login">Cancel</a></button>
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>

</body>
</html>
